@model IEnumerable<MyAcadmy.Models.cour>
@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <br />
        <hr style="width:50%;" />
        <div>
            <h2 style="text-align:center;"> Wellcome in  our Acadmy</h2>
        </div>
        <hr style="width:50%;" />
        <div>
            <div>

                @if (Model.Where(s => s.Department.name == "Language").Count() > 0)
                {
                    <hr />
                    <div>
                        <h2>The Language</h2>
                    </div>
                    <hr />
                }
                <div class="col-lg-12">
                    @foreach (var item in Model.Where(s => s.Department.name == "Language"))
                    {

                        <div class="card col-lg-4">
                            <br /><br />
                            <img class="card-img-top" src="@Url.Content(item.imag)" alt="Card image" style="width:250px ; height:200px;">
                            <div class="card-body">
                                <h4 class="card-title">Course Name : @item.name</h4>
                                <p class="card-text">Course Start at : @item.datestart</p>
                                <p class="card-text"> Doctor  : @item.trainer.name</p>
                                <a href="~/cours/Details/@item.id" class="btn btn-primary stretched-link">See Course</a>
                            </div>
                        </div>

                    }
                </div>
                <br />
            </div>
        </div>


        <div class="col-lg-12">
            @if (Model.Where(s => s.Department.name == "Tiqnique").Count() > 0)
            {
                <hr />
                <div>
                    <h2>The Tiqnique</h2>
                </div>
                <hr />
            }
            @foreach (var item in Model.Where(s => s.Department.name == "Tiqnique"))
            {

                <div class="card col-lg-4">
                    <img class="card-img-top" src="@Url.Content(item.imag)" alt="Card image" style="width:250px ; height:200px;">
                    <div class="card-body">
                        <h4 class="card-title">Course Name : @item.name</h4>
                        <p class="card-text">Course Start at : @item.datestart</p>
                        <p class="card-text"> Doctor  : @item.trainer.name</p>
                        <a href="~/cours/Details/@item.id" class="btn btn-primary stretched-link">See Course</a>
                    </div>
                </div>

            }
        </div>
        <div class="col-lg-12">
            @if (Model.Where(s => s.Department.name == "Diploma").Count() > 0)
            {
                <hr />
                <div>
                    <h2>The Diploma</h2>
                </div>
                <hr />
            }
            <div class="col-lg-12">
                @foreach (var item in Model.Where(s => s.Department.name == "Diploma"))
                {

                    <div class="card col-lg-4" style="height:450px;">
                        <img class="card-img-top" src="@Url.Content(item.imag)" alt="Card image" style="width:250px ; height:200px;">
                        <div class="card-body">
                            <h4 class="card-title">Course Name : @item.name</h4>
                            <p class="card-text">Course Start at : @item.datestart</p>
                            <p class="card-text"> Doctor  : @item.trainer.name</p>
                            <a href="~/cours/Details/@item.id" class="btn btn-primary stretched-link">See Course</a>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

